.resetPasswordConfirm-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.resetPasswordConfirm-form{
    padding: 9%;
    
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.resetPasswordConfirm-form h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}